/* Add here all your CSS customizations */
@import "config/imports";
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900,300,100);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700);

body{
  font-family: 'Roboto', 'Helvetica', sans-serif;
}

@media (min-width: 768px) and (max-width: 1199px) {
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-collapse.collapse.in {
        display: block !important;
    }
    .navbar-header .collapse, .navbar-toggle {
        display:block !important;
    }
    .navbar-header {
        float:none;
    }
}
@media only screen and (max-width: 767px){
  .panel-actions {
    position: absolute;
  }
}
hr{
  margin-top: 10px;
  margin-bottom: 10px;
}
h1{
  color: $color-h1;
  font-size: 24px;
}
h2{
  color: $color-h2;
  font-size: 20px;
}
h3{
  color: $color-h3;
  font-size: 16px;
}
h4{
  color: $color-h4;
  font-size: 14px;
}
p{
  color: $color-p;
  font-size: 13px;
}

.col20{
  width: 20%
}

.col15{
  width: 15%
}

.col25{
  width: 25%
}

.col-40{
  width: 40%;
}

.form-search{
  .input-group{
    margin-bottom: 15px;
  }
}

a{
  color: $color-tertiary;
  &:hover{
    color: darken($color-tertiary, 10%);
  }
}

.icon-info{
  color: #D3D3D3
}

.overflow-visible{
  overflow: visible!important;
}

.vertical-top{
  vertical-align: top!important;
}

/**
 * Tooltip Styles
 */

/* Add this attribute to the element that needs a tooltip */
[data-tooltip] {
  position: relative;
  cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  opacity: 0;
  pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]:before {
  position: absolute;
  bottom: 80%;
  left: 50%;
  margin-bottom: 5px;
  margin-left: -30px;
  padding: 7px;
  min-width: 60px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
  white-space: nowrap;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
  position: absolute;
  bottom: 80%;
  left: 50%;
  margin-left: 1px;
  width: 0;
  border-top: 5px solid #000;
  border-top: 5px solid hsla(0, 0%, 20%, 0.9);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: "progidDXImageTransform.Microsoft.Alpha(Opacity=100)";
  opacity: 1;
  z-index: 9999999;
}

.tooltip-inner {
    white-space: nowrap!important;
}

.btn-green{
  background-color: #0FABE6;
  border-color: #0FABE6;
  color: #fff;
  &:hover, &:focus{
    background-color: #0D9FD6;
    border-color: #0D9FD6;
    color: #fff;
  }
}

.btn-disabled{
  color: #fff;
}

.panel-featured-primary{
  border-color: #4fca9d;
  .panel-title{
    color: #4fca9d; 
  }
}

html body .tabs-primary.tabs-vertical.tabs-left li.active a, html.dark body .tabs-primary.tabs-vertical.tabs-left li.active a, html body .tabs-primary.tabs-vertical.tabs-left li.active a:hover, html.dark body .tabs-primary.tabs-vertical.tabs-left li.active a:hover, html body .tabs-primary.tabs-vertical.tabs-left li.active a:focus, html.dark body .tabs-primary.tabs-vertical.tabs-left li.active a:focus{
  border-left-color: $color-dathena;
}
html body .tabs-primary.tabs-vertical.tabs-left li a:hover{
   border-left-color: $color-dathena;
}

html body .tabs-primary .nav-tabs li.active a, html.dark body .tabs-primary .nav-tabs li.active a, html body .tabs-primary .nav-tabs.nav-justified li.active a, html.dark body .tabs-primary .nav-tabs.nav-justified li.active a, html body .tabs-primary .nav-tabs li.active a:hover, html.dark body .tabs-primary .nav-tabs li.active a:hover, html body .tabs-primary .nav-tabs.nav-justified li.active a:hover, html.dark body .tabs-primary .nav-tabs.nav-justified li.active a:hover, html body .tabs-primary .nav-tabs li.active a:focus, html.dark body .tabs-primary .nav-tabs li.active a:focus, html body .tabs-primary .nav-tabs.nav-justified li.active a:focus, html.dark body .tabs-primary .nav-tabs.nav-justified li.active a:focus{
    border-top-color: #4fca9d;
    color: #4fca9d;
}
html body .tabs-primary .nav-tabs li a, html body .tabs-primary .nav-tabs li a:hover{
  color: #4fca9d;
}
html body .tabs-primary .nav-tabs li a:hover{
  border-top-color: #4fca9d;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
  background-color: #fff;
}

.body-sign .panel-sign .panel-title-sign .title{
  background-color: $color-tertiary;
}

.body-sign .panel-sign .panel-body{
  border-top-color: $color-tertiary;
}

.navbar-brand{
  width: 120px;
}

.navbar-brand img{
  width: 100%;
}

.input-group-icon .input-group-addon{
  z-index: 9;
}

.dropdown-backdrop-custom {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 990;
  background-color: rgba(255,255,255,0.5);
}

.dropdown-backdrop{
  background-color: rgba(255,255,255,0.5);
}

.inline-block-item{
  display: inline-block;
}

.text-bold{
  font-weight: bold;
}

.text-italic{
  font-style: italic;
}

.checkbox-custom.checkbox-success{
  label:before {
    background: #59D0A7;
    border-color: #59D0A7;
  }
}

.btn-success{
  background-color: $color-tertiary!important;
  border-color: $color-tertiary!important;
  &:hover, &:focus{
    background-color: rgb(113, 187, 148)!important;
    border-color: rgb(113, 187, 148)!important;
  }
}

.inline-label{
    color: #bebe;
    display: table-cell;
    vertical-align: middle;
    min-width: 200px;
    font-size: 1em;
    text-align: left;
}
.input-group{
    margin-bottom: 20px;
}
.body-sign .panel-sign .panel-title-sign .title{
    letter-spacing: 1px;
}

.text-center{
  text-align: center!important;
}

.text-right{
  text-align: right;
}

.text-green{
  color: #2baab1;
}

.btn-auth{
    min-width: 180px;
}

.btn-disabled{
  pointer-events: none;
  background-color: #ccc!important;
  border-color: #ccc!important;
}

.show-on-checked-all{
  display: none;
}

.legendLabel{
  padding-right: 8px;
  font-size: 12px;
  padding-left: 3px;
  text-align: left;
}

.modal-button{
  display: inline-block;
  background-color: transparent;
  border: none;
  font-size: 16px;
}

.modal-preview{
  width: 90%;
  margin-top: 120px;
  height: 80vh;
  .modal-content{
  }
  .modal-title{
    font-size: 20px;
    line-height: 44px;
    font-weight: bold;
  }
  .file-preview{
    height: 60vh;
    overflow: hidden;
    iframe{
      width: 100%;
      height: 60vh;
    }
  }
  @media (max-width: 768px){
    margin: 100px auto 10px;
    .modal-title{
      text-align: center;
    }
    .modal-actions{
      position: absolute;
      top: 15px;
      right: 0;
    }
  }
}

/*---------my_header------------*/
body {
    background-color: #ecedf0;
}

.my_header {
    height: 104px;
    &.has-sub-header{
      height: 50px;
    }
    .userbox .role{
      display: none;
    }
}

.my_header .navbar-default {
    background-color: #171717;
}

.my_header .navbar-default .navbar-nav > li > a {
    color: #FFF;
}

.my_main .filter-buttons > li {
    display: inline-block;
    margin-left: 15px;
    float: none;
}

.filter-list{
  text-align: center;
}

.filter-list > li {
    display: inline-block;
    margin-left: 15px;
    float: none;
    .btn-group{
      .dropdown-toggle{
        min-width: 135px;
      }
    }
}

.my_main p {
    margin-top: 12px;
    font-size: 16px;
    font-weight: 300;
    color: $color-h1;
    font-size:24px;
}

.table_content .panel {
    border: 1px solid #ccc;
    margin-top: 20px;
}

.table_content_icon .panel {
    border: 1px solid #ccc;
    margin-top: 20px;
}

.first_table .panel {
    border: 1px solid #ccc;
    margin-top: 35px;
}

.widget {
    margin-top: 20px;
}

.widget .widget-summary .summary{
    min-height: 0;
}

.first_table tr td {
    text-align: left;
}

tr td {
    text-align: center;
}

.charts .col-md-4 .circular-bar {
    border: 2px solid #000000;
    border-radius: 5px;
}

.charts .col-md-4 .circular-bar .percent_chart {
    text-align: center;
    min-height: 170px;
}

.charts .col-md-4 .circular-bar .percent_chart p {
    font-size: 16px;
    color: #00a3f5;
}

.charts .col-md-4 .circular-bar .percent_chart h1 {
    font-size: 60px;
    font-weight: 900;
}

.charts .col-md-4 .circular-bar .percent_chart h4 {
    text-align: left;
    margin-left: 12px;
}

.general-table > tbody > tr > td{
    width: 25%;
    border: 1px solid #ddd;
    text-align: left;
}

.general-table > tbody > tr:last-child > td{
    border-bottom: 1px solid #ddd;
}

.general-table > tbody > tr > td:nth-of-type(odd){
    background-color: #f9f9f9;
    font-weight: 600;
}

.widget-action{
    color: #fff!important;
}

.percentage-badge{
    padding: 5px 8px;
    border-radius: 15px;
    background-color: rgba(0,0,0,.2);
}

.bell{
    border-radius: 50%;
    float: left;
    width: 30px;
    height: 30px;
    margin-top: 28px;
    line-height: 26px;
    text-align: center;
    border: 1px solid  $color-tertiary;
    background-color: $color-tertiary;
    cursor: pointer;
    margin-right: 15px;
    position: relative;
    i{
      color: #fff;
    }
    &:hover{
      background-color: rgb(113, 187, 148);
    }
    .badge{
      background-color: #D2312D;
      position: absolute;
      top: -5px;
      right: -5px;
      height: 16px;
      padding: 3px 5px 3px 5px;
      font-size: 10px;
    }
}

ul.filter-list li{

}

.toggle-button{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    padding: 0;
    color: #fff;
    background-color: $color-tertiary;
    border: none;
    &:hover, &:focus{
      background-color: rgb(113, 187, 148);
      color: #fff;
    }
}

.chart-panel{
  max-width: 400px;
  margin: auto;
}

.widget-panel{
    position: relative;
}

.widget-panel .widget-title{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    font-size: 15px;
    font-weight: bold;
    margin: 0;
    padding: 5px 10px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.widget-panel .widget-summary{
    padding-top: 25px;
    text-align: center;
}


.border-right{
  border-right: 1px solid #fff;
}

.widget-panel .widget-summary .summary{
    min-height: 100px;
}

.widget-panel .widget-summary .summary .amount{
    font-size: 4rem;
    line-height: 5rem;
}

.panel-body.bg-secondary{
    background: $color-secondary;
}

.panel-body.bg-quartenary{
    background: $color-quartenary;
}

.panel-body.bg-quartenary-2{
    background: $color-quartenary-2;
    color: #fff;
}

.panel-body.bg-quartenary-3{
    background: $color-quartenary-3;
    color: #fff;
}

.panel-body.bg-tertiary{
    background: $color-tertiary;
}

.panel-body.bg-tertiary-2{
    background: $color-tertiary-2;
    color: #fff;
}

.panel-body.bg-tertiary-3{
    background: $color-tertiary-3;
    color: #fff;
}

.panel-body.bg-secondary-2{
    background: $color-secondary-2;
    color: #fff;
}

.panel-body.bg-primary{
    background: $color-primary;
}

.panel-body.bg-secondary .widget-title{
    color: $color-secondary;
}

.panel-body.bg-secondary-2 .widget-title{
    color: $color-secondary-2;
}

.panel-body.bg-quartenary .widget-title{
    color: $color-quartenary;
}

.panel-body.bg-quartenary-2 .widget-title{
    color: $color-quartenary-2;
}

.panel-body.bg-quartenary-3 .widget-title{
    color: $color-quartenary-3;
}

.panel-body.bg-primary .widget-title{
    color: $color-primary;
}

.panel-body.bg-tertiary .widget-title{
    color: $color-tertiary;
}

.panel-body.bg-tertiary-2 .widget-title{
    color: $color-tertiary-2;
}

.panel-body.bg-tertiary-3 .widget-title{
    color: $color-tertiary-3;
}

.page-heading{
  color: $color-tertiary
}

.widget-overview{
    padding: 10px 15px;
}

.widget-overview .widget-summary .summary .info{
    line-height: 2rem;
}

.widget-overview .widget-summary .summary .amount{
    font-size: 1.8rem;
    line-height: 2rem;
}
.widget-overview .widget-summary .summary .title{
    font-size: 1.3rem;
    line-height: 1.8rem;
}

.dropdown-menu.has-arrow{
    border: 1px solid #c2e1f5;
    margin-left: -10px;
    padding: 15px;
    margin-top: 10px;
}
.dropdown-menu.dd-md{
    width: 50vw;
    &.dd-center{
      @media (min-width: 997px){
        margin-left: -25vw;
        &.has-arrow{
          &:before{
            left: 50%;
            margin-left: 10px;
          }
          &:after{
            left: 50%;
            margin-left: 11px;
          }
        }
      }
    }
    &.dd-right{
      @media (min-width: 997px){
        right: 0;
        left: auto;
        &.has-arrow{
          &:before{
            right: 9px;
            left: auto;
          }
          &:after{
            right: 10px;
            left: auto;
          }
        }
      }
    }
}
.dropdown-menu.dd-sm{
    width: 40vw;
}
.dropdown-menu.has-arrow:after, .dropdown-menu.has-arrow:before {
    bottom: 100%;
    left: 30px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.dropdown-noti{
  .col-noti{
    &:first-child{
      border-right: 1px solid #ccc;
    }
    position: relative;
    .dropdown-help{
      position: absolute;
      top: -4px;
      right: 15px;
    }
  }
  .actions-percentage{
    margin-top: 10px;
    display: inline-block;
  }
}

.dropdown-menu.dropdown-noti:after, .dropdown-menu.dropdown-noti:before{
    left: 210px;
}
.dropdown-menu.dropdown-search:after, .dropdown-menu.dropdown-search:before{
    left: auto;
    right: 50px;
}
.dropdown-menu.dropdown-search{
    top: 40px;
    margin-top: 0;
}

.dropdown-menu.has-arrow:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 8px;
    margin-left: -8px;
}
.dropdown-menu.has-arrow:before {
    border-color: rgba(204, 204, 204, 0);
    border-bottom-color: #ccc;
    border-width: 9px;
    margin-left: -9px;
}

.dropdown-menu .filter-list{

}

.icon-danger{
  color: $color-danger;
  &:hover{
    color: $color-danger!important;
  }
}
.icon-warning{
  color: $color-warning;
  &:hover{
    color: $color-warning!important;
  }
}
.icon-success{
  color: $color-success;
  &:hover{
    color: $color-success!important;
  }
  &.disabled{
    color: lighten( $color-success, 20%);
  }
}

.noti-block{
  .noti-date{
    color: #fff;
    font-size: 14px;
    background-color: $color-dathena;
    padding: 6px 10px;
  }
}

.col-noti h4{
    margin-top: 0;
    font-weight: bold;
    font-size: 1.6rem
}
.col-noti ul li{
    padding: 8px 0;
    border-bottom: 1px solid #ddd;
    margin-left: 0;
}
.col-noti ul li i{
    font-size: 26px;
    padding-right: 10px;
    display: table-cell;
    vertical-align: middle;
}
.col-noti ul li p{
    display: table-cell;
    vertical-align: middle;
    font-size: 14px;
    font-weight: normal;
}

.page-heading{
    margin: 0;
    font-size: 2.4rem;
    font-weight: bold;
    float: left;
    line-height: 40px;
}

.my_header .navbar-default.nav-custom{
  background: #fff;
  min-height: 84px;
  .navbar-nav{
    @media (min-width: 768px){
      padding-top: 17px;
    }
  }
  .navbar-nav > li {
    position: relative;
    .dropdown-menu{
      min-width: 170px;
      li{
        position: relative;
        .badge{
          right: 5px;
          top: 8px;
        }
        a{
          font-size: 16px;
          padding: 5px 20px;
        }
        &.active{
          a{
            background-color: $color-tertiary;
          }
        }
      }
    }
    .badge{
      background-color: #D2312D;
      position: absolute;
      top: 5px;
      right: 0px;
      height: 16px;
      padding: 3px 5px 3px 5px;
      font-size: 10px;
      z-index: 1;
    }
    &> a{
      color: $color-black;
      font-weight: 500;
      font-size: 20px;
      font-family: 'Lato', sans-serif;
      &:hover, &:focus{
        text-decoration: underline;
      }
    }
    &.active > a{
      color: $color-black;
      text-decoration: underline;
      &:hover, &:focus{
        color: $color-black;
      }
    }
  }
  .navbar-brand{
    width: 187px;
    padding-top: 25px;
    height: 84px;
    float: left;
  }
}

.my_header .container{
  position: relative;
}

.header-right {
  float: right;
  height: 50px;
}

.userbox {
  display: inline-block;
  margin: 24px 10px 0 0;
}

.navbar-toggle{
  margin-top: 25px;
}

#legendContainer2Inner{
  position: absolute;
  right: 10px;
  top: 10px;
}

.chart-disabled-overlay{
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9;
  position: absolute;
  background-color: rgba(190,190,190,0.2);
}

.widget-panel{
  .widget-summary{
    &.unscanned{
      .summary {
        .amount{
          font-size: 1.8rem;
          opacity: 0.7;
          word-break: break-word;
          line-height: 2.8rem;
        }
        .title{
          a{
            color: #fff;
            text-decoration: underline;
            opacity: 0.7;
          }
        }
      }
    }
    .loading-dot{
        margin-top: 15px;
        font-style: italic;
    }
    &:not(.in-progress){
      .loading-dot{
        display: none;
      }
    }
  }
  .widget-chart{
    min-height: 320px;
    position: relative;
    margin-top: 14px;
    overflow: hidden;
    .chart.chart-md{
      height: 320px;
      position: relative;
    }
    .chart-md-inner{
      height: 180px;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -112px;
      margin-left: -90px;
      width: 180px;
      @media (max-width: 380px){
        height: 157px;
      }
      @media (min-width: 992px) and (max-width: 1200px){
        height: 160px;
      }
    }
    &.unscanned{
      padding-top: 140px;
      text-align: center;
      .amount{
        font-size: 2rem;
        opacity: 0.7;
      }
      .title{
        a{
          color: $color-black;
          text-decoration: underline;
          opacity: 0.7;
        }
      }
    }
    &.in-progress{
      .chart{
        width: 70%;
        display: inline-block;
        vertical-align: middle;
      }
      .loading-dot{
        width: 28%;
        display: inline-block;
        vertical-align: middle;
        font-style: italic;
      }
    }
    &:not(.in-progress){
      .loading-dot{
        display: none;
      }
    }
  }
}
.chart{
  font-style: normal!important;
}
.chart-legend{
  border-top: 1px solid #ddd;
  padding-top: 15px;
  li{
    width: 50%;
    position: relative;
    float: left;
    padding-left: 17px;
    line-height: 12px;
    margin-bottom: 5px;
    .legend-symbol{
      width: 12px;
      height: 12px;
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  &.serie-1{
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    li{
      width: 100%;
    }
  }
}
#languagePieChart+.chart-legend{
  margin: auto;
  li{
    width: 40px;
    margin: 0 auto 5px;
    float: none;
  }
}
.loading-dot{
    display: inline-block;
    font-size: 1.4rem;
    font-weight: 600;
    opacity: 0.7;
}
.loading-dot:after {
  content: ' .';
  animation: dots 1s steps(5, end) infinite;
}
.loading-dot.inverse:after {
  content: ' .';
  animation: dotsblack 1s steps(5, end) infinite;
}

@keyframes dots {
  0%, 20% {
    color: rgba(0,0,0,0);
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);}
  40% {
    color: white;
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);}
  60% {
    text-shadow:
      .25em 0 0 white,
      .5em 0 0 rgba(0,0,0,0);}
  80%, 100% {
    text-shadow:
      .25em 0 0 white,
      .5em 0 0 white;}}

@keyframes dotsblack {
  0%, 20% {
    color: rgba(255,255,255,0);
    text-shadow:
      .25em 0 0 rgba(255,255,255,0),
      .5em 0 0 rgba(255,255,255,0);}
  40% {
    color: white;
    text-shadow:
      .25em 0 0 rgba(255,255,255,0),
      .5em 0 0 rgba(255,255,255,0);}
  60% {
    text-shadow:
      .25em 0 0 #000,
      .5em 0 0 rgba(255,255,255,0);}
  80%, 100% {
    text-shadow:
      .25em 0 0 #000,
      .5em 0 0 #000;}}


.select-group{
  position: relative;
  .selected-info{
    position: absolute;
    width: 100%;
    z-index: 0;
    height: 34px;
    .progress{
      margin: 0;
      height: 34px;
      border-radius: 5px;
      background: #ddd;
    }
  }
  select{
    z-index: 1;
    position: relative;
    background-color: transparent;
    margin-bottom: 0;
    color: #fff;
    background: url(../images/custom-select-arrows.png) no-repeat;
    background-position: right 6px top 9px;
    -webkit-appearance: none;
    option{
      color: #333;
    }
  }
  .progress-percentage{
    position: absolute;
    right: 25px;
    line-height: 32px;
  }
}

.dropdown-file-info-holder{
  float: right;
  .dropdown-backdrop{
    display: none;
  }
}

.dropdown-file-info{
  padding: 15px;
  ul{
    padding: 0;
    list-style: none;
  }
}

.approve-button{
  margin-left: 42px;
}

.table-my-actions{
  .checkbox-custom{
    padding: 0 0 0 5px;
  }
  &.orphan-review{
    @media (min-width: 1024px){
      .progress{
            min-width: 100px;
      }
    }
    .select-group .selected-info{
      position: relative;
    }
    .select-group select{
      color: #777;
    }
/*    .doc-check{
      .fa-clock-o{
        display: none;
      }
      .fa-check{
        display: inline-block;
        color: $color-info;
      }
    }*/
  }
  .doc-check{
    font-size: 18px;
    text-decoration: none;
    .fa-clock-o{
      color: $color-muted;
    }
    .fa-check{
      display: none;
      color: $color-default;
    }
    &:hover{
      .fa-clock-o{
        display: none;
      }
      .fa-check{
        display: inline-block;
        color: $color-info!important;
      }
    }
    &.validated{
      .fa-clock-o{
        display: none;
      }
      .fa-check{
        display: inline-block;
        color: #4fca9d
      }
    }
    &.validated{
      color: #4fca9d
    }
  }
  &>tbody{
    &>tr{
      &.item-challenged{
        label, input[type="checkbox"]{
          pointer-events: none;
        }
      }
      &.item-validated{
        input, select, label{
          pointer-events: none;
        }
      }
      &>td{
        vertical-align: middle;
        position: relative;
        padding: 10px!important;
      }
      &.inactive{
        &>td{
          &:after{
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba(255,255,255,.7);
          }
        }
      }
    }
  }
  .btn-file-info{
    cursor: pointer;
    margin-left: 10px;
  }
  .doc-path{
    display: inline-block;
    max-width: 90px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .file-name{
    &:hover{
      cursor: pointer;
    }
  }
}

.actions-success{
  display:none;
}

.actions-panel{
  .panel-actions{
    a.panel-action{
      vertical-align: top;
    }
    button{
      margin-top: -4px;
    }
  }
}

.my-actions-btn-group.actions-bottom{
    text-align: right;
    padding-right: 20px;
}

#words-cloud{
  width: 500px;
  height: 350px;
  margin: auto;
  @media (max-width: 480px){
    width: 230px;
    height: 150px;
  }
}

.chart-container{
  position: relative;
}
div[id^='legendContainer']{
  min-height: 44px;
}
#confidentialityChartLegend{
  li{
    width: auto;
    margin-right: 50px;
  }
}
#confidentialityChart{
  width: 100%;
  height: 350px;
}
#centroidChart{
  height: 500px;
}

.choose-cluster-block{
  &>h5{
    float: left;
    margin-right: 15px;
  }
  &> .form-group{
    margin-top: 3px;
    float: left;
    .select2-container{
      width: 120px!important;
    }
    .select2-container .select2-selection--single{
      height: 32px
    }
    .btn-ok{
      margin-left: 10px;
    }
  }
}

#stat-block{
  position: relative;
}

.collapse-stat-table{
  .panel-action{
    cursor: pointer;
  }
  .collapsed{
    &:before {
     content: "\f0d8";
    }
  }
}

.view-stat-block{
  .toggle{
    margin-top: 0;
  }
  .toggle label.toggle-on{
    color: #fff;
  }
}

.chart-title{
  font-size: 1.6rem;
}

.ct-series-a .ct-bar{
  stroke: #0088cc;
}
.ct-series-b .ct-bar{
  stroke: #349da2;
}
.ct-series-c .ct-bar{
  stroke: #7986cb;
}
.ct-series-d .ct-bar{
  stroke: #5bc0de;
}
.ct-series-e .ct-bar{
  stroke: #E36159;
}

.page-header{
    height: 50px;
    position: relative;
    margin: 0;
    margin-bottom: 20px;
    box-shadow: none;
    h2{
      border-bottom: none;
    }
}

.workflow-tab{
  li{
    margin-left: 0!important;
  }
}

.detail-tab{
  .heading1, .heading2, .heading3{
    margin-bottom: 20px;
    font-weight: bold;
  }
}

.detail-select{
  &+.select2{
    margin-bottom: 10px;
    font-size: 14px;
    width: 100%!important;
    &.select2-container .select2-selection--single{
      height: 34px;
      border: 1px solid #ccc;
      .select2-selection__rendered{
        line-height: 32px;
      }
    }
    &.select2-container .select2-selection--single .select2-selection__arrow{
      top: 3px;
    }
  }
}
.add-detail-section{
  .detail-row{
    margin-bottom: 20px;
  }
  .row{
    margin-left: -5px;
    margin-right: -5px;
    [class^="col"]{
      padding-left: 5px;
      padding-right: 5px;
    }
  }
  .detail-left{
    label{
      display: block;
/*      background-color: $color-tertiary;
      width: 100%;
      color: #fff;
      min-height: 34px;
      padding: 0 10px;
      line-height: 34px;
      border-radius: 3px;*/
    }
    &>a{
      /*float: right;*/
      font-size: 12px;
    }
  }
  .detail-right{
    .form-control{
      margin-bottom: 10px!important;
    }
  }
  .select2{
    margin-bottom: 10px;
    width: 100%!important;
  }
}

.panel-policies{
  .checkbox-custom{
    float: right;
  }
  .row-title{
    text-align: center;
    h5{
      font-weight: bold;
      margin-bottom: 20px;
    }
  }
  .cat-edit-link{
    vertical-align: middle;
  }
  .row-policies{
    margin-bottom: 15px;
  }
  .col-default{
    padding-top: 5px;
  }
}

.filter-tags{
  .filter-label{
    margin-right: 5px;
    font-size: 100%;
    font-weight: 600;
    display: inline-block;
    margin-bottom: 5px;
    .filter-remove{
      color: #fff;
      margin-right: 5px;
      cursor: pointer;
    }
  }
}

.multiselect-container{
  margin-top: 10px;
  &:after, &:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  &:after {
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: #ffffff;
    border-width: 10px;
    margin-left: -10px;
  }
  &:before {
    border-color: rgba(196, 196, 196, 0);
    border-bottom-color: #c4c4c4;
    border-width: 11px;
    margin-left: -11px;
  }
}

#datatable-editable_wrapper{
  .table{
    .fa{
          min-width: 20px;
    }
  }
}

.document_review_table .fa{
  vertical-align: middle;
}

/*Responsive*/
@media (max-width: 768px){
    ul.filter-list{
        text-align: left;
        padding-left: 0;
    }
    ul.filter-list > li{
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 10px;
    }
    ul.filter-list > li select.form-control{
        width: auto;
    }
}

@media (min-width: 769px){
  .my_header .navbar-collapse {
    @include calc(width, '100% - 402px');
    text-align: center;
    float: left;
    .navbar-nav{
      float: none;
      text-align: center;
      &>li{
        float: none;
        display: inline-block;
      }
    }
  }
}

@media (max-width: 996px){
    .dropdown-menu.full-mobile{
        width: 90%;
        left: 5%!important;
        margin-left: 0;
        z-index: 9999;
    }
    .dropdown-menu.full-mobile:after, .dropdown-menu.full-mobile:before{
        display: none;
    }

    .dropdown-menu.dd-filter{
      width: 80vw;
      right: 0;
      margin-left: -70vw;
      &:before, &:after{
        display: none;
      }
    }
}

@media (max-width: 1199px){
  .header-right{
    position: absolute;
    top: 0px;
    right: 80px;
    .userbox:after{
      display: none;
    }
  }
}

@media (max-width: 767px){
  .header-right{
    position: absolute;
    top: 4px;
    right: 60px;
  }
  .tool-left-xs{
    text-align: left;
  }
}

@media (max-width: 480px){
  #centroidChart{
    height: 280px;
  }
  .centroid-chart-label{
    margin-left: -20px;
    margin-top: 64px;    
    width: 40px;
    height: 40px;
    border: 3px solid #fff;    
    font-size: 10px;
    text-align: center;
    line-height: 12px;
    padding-top: 5px;
  }
  .page-heading{
    float: none;
    &+ul{
      padding-left: 0;
      margin: 10px 0;
      li{
        margin-left: 0;
        margin-right: 15px;
      }
    }
  }
  .page-heading-sm{
    float: none!important;
    margin-top: 0!important;
    &+ul{
      padding-left: 0;
      margin: 10px 0;
      li{
        margin-left: 0;
        margin-right: 15px;
      }
    }
  }
  .navbar-brand {
    width: 100px;
    padding: 15px 10px;
  }
  ul.filter-list {
    text-align: center;
    li {
      select.form-control{
        width: 200px;
      }
    }
  }
  .nav-tabs li{
    width: 100%;
  }
  .dropdown-menu.dd-filter{
    width: 90vw
  }
  .view-stat-block{
    label{
      display: block;
    }
  }
  .my-actions-btn-group{
    position: relative;
    right: -20px;
    .panel-action-toggle{
      top: -100px;
      right: 20px;
      position: relative;
    }
  }
}

.switch.switch-success .ios-switch .on-background{
  background-color: #59D0A7;
}

.sample-params{
  select{
    @include calc(width, '100% - 35px');
    float: left;
  }
  .validation-btn{
    float: right;
    margin-top: 3px;
    line-height: 18px;
    i{
      color: #777;
      &.icon-success{
        color: #59D0A7;
      }
    }
  }
  label{
    font-weight: bold;
    font-size: 12px;
  }
}

@media (max-width: 400px){
  .modal-preview .modal-title {
      margin-top: 20px;
  }
  .dropdown-menu.dd-filter{
    margin-left: -60vw
  }
  .my_header .navbar-default.nav-custom .navbar-brand{
    width: 100px;
    padding-top: 33px;
  }
}

.help_guide_sub{
  .filter-tags{
    padding-top: 10px;
    padding-left: 15px;
  }
}

.ios-switch{
  display: inline-block;
  vertical-align: middle;
}

.checkbox-custom input[type="checkbox"]:not(:checked) + label:before{
  background-color: #ecedf0!important;
  border-color: #ecedf0!important;
}

.checkbox-custom input[type="checkbox"]:disabled + label:before{
  border: 1px solid #bbb!important;
}

.document_note {
    font-size: 14px;
    padding-left: 30px;
    margin-bottom: 20px;
}

@media (min-width: 992px){
  .dd-filter{
    min-width: 700px;
  }
}

@import 'pages/overview';
@import 'pages/notification';
@import 'pages/reviewer';
@import 'pages/exception';
@import 'pages/admin';
@import 'pages/insight';