@import "../../../../app/assets/styles/default.less";
//@import "../../../../app/assets/styles/variables.less";

.lead-search-details {
	font-size: 18px;
	line-height: 18px;

	&:after {
		content: "";
		height: 20px;
		display: block;
	}

	.field-group {
		margin-bottom: 20px;
	}

	.actionButton {
		width: 250px;

		&:not(:last-of-type) {
			margin-bottom: 20px !important;
		}
	}

}
.head{
	font-weight: 600;
	font-size: 21px;
	margin-bottom: 10px;
}
.form-field {
	background-color: rgb(247, 247, 249);
	padding: 27px;
	margin-bottom: 15px;
	.displayFlex();
	.flexFlow(column, nowrap);
	&.full-field {
		width: 100%;
		&:after {
			content: '';
			clear: both;
		}
	}
	&.half-field {
		width: 100%;
		@media(min-width: 768px){
			width: 49%;
		}
	}

	.section {
		.displayFlex();
		.flexFlow(column, nowrap);
		&.full-field{
			width: 100%;
			.alignItems(flex-start);
			&:after{
				content: '';
				clear: both;
			}
			h3{
				font-size: 20px;
				color: rgb(40,40,40);
				text-align: left;
				&:after{
					content:":";
				}
			}
		}
		&.half-field{
			width: 49%;
			h3{
				font-size: 20px;
				color: rgb(40,40,40);
				text-align: center;
			}
		}
		.section{
			.displayFlex();
			.flexFlow(column, nowrap);
			.alignItems(center);
			.justifyContent(center);
			select{
				&:-moz-focusring{
					color: transparent;
					text-shadow: 0 0 0 #000;
				}
			}
		}
	}

	.time-on-market-input-component{
		.time-on-market-select{
			.icon-wrapper > img {
				height: 20px;
				width: 20px;
			}
		}
	}
	.show-only{
		.time-on-market-input-component{
			width: 100%;
			@media(min-width: 768px){
				width: 66.66%;
			}
			@media(min-width: 900px){
				width: 100%;
			}
			.time-on-market-search-block{
				.displayFlex();
				.flexFlow(row, nowrap)!important;
				h3{
					font-size: 16px!important;
					font-weight: normal;
					&:after{
						content: ''!important;
					}
				}
			}
		}
	}
}
.searchField {
	display: flex;
	flex-flow: column nowrap;
	-ms-flex-wrap: nowrap;
	align-items: flex-start !important;
	width: 100%;
}
.searchField select.dropdown-button {
	width: 100%;
	border-radius: 2px;
	background-color: #ffffff;
	border: 1px solid #d5d5d7 !important;
	padding: 10px 15px 10px 35px;
	margin-top: 15px;
	-webkit-appearance: none;
	-moz-appearance: none;
}
.show-only-block{
	width: 100%;
	padding: 15px 0;
	.displayFlex();
	.flexFlow(column, nowrap);
	.alignItems(center);
	.justifyContent(flex-start);
	@media(min-width: 768px){
		.flexFlow(row, nowrap);
	}
	.show-only-buttons{
		width: 100%;
		.displayFlex();
		.flexFlow(column, nowrap);
		.justifyContent(flex-start);
		@media(min-width: 768px){
			.flexFlow(row, nowrap);
		}
		&:hover{
			cursor: pointer;
			border-radius: 0;
		}
		.selected {
			color: #fff !important;
			background-color: #C3DD59 !important;;
		}
		.selected-btn{
			width: calc(50%);
			margin-right: 20px;
			text-align: center;
			right: 0;
			padding: 10px 12px;
			border-radius: 5px;
			font-size: 18px;
			border: 2px solid #C3DD59;
			color: #C3DD59;
			background-color: #fff;
			transition: all 0.2s;
			/*&:hover{
				background-color: #C3DD59;
				color:#fff;
			}*/
		}
		.house {
			&:before {
				font-family: FontAwesome;
				content: "\f015";
				margin-right: 5px;
				font-size: 16px;
			}
		}
		.photo {
			&:before {
				font-family: FontAwesome;
				content: "\f03e";
				margin-right: 5px;
				font-size: 16px;
			}
		}
		> *{
			margin-bottom: 15px;
			@media(min-width: 768px){
				margin-right: 30px;
				margin-bottom: 0;
			}
		}
	}
}
.bordered-content-block{
	border: 1px solid rgb(149,149,149);
	margin: 20px 0;
	h4{
		width: 100%;
		font-size: 20px;
		background-color: rgb(149,149,149);
		color: rgb(255,255,255);
		padding: 5px 10px;
	}
	.content{
		padding: 15px 20px;
		.displayFlex();
		.flexFlow(row, wrap);
		.amenity{
			margin: 6px 0;
			width: 100%;
			@media(min-width: 480){
				width: 50%;
			}
			@media(min-width: 768px){
				width: 33.33%;
			}
			.displayFlex();
			.alignItems(center);
		}
		input{
			margin-right: 5px;
			height: 15px;
			width: 15px;
			padding: 0;
			margin-bottom: 0;
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			border-radius: 0;
			border: 1px solid rgb(129,129,129);
			cursor: pointer;
			&:checked{
				//background-color: rgb(129,129,129);
				background-color:@ylopoGreen;
				-webkit-appearance: none;
				-moz-appearance: none;
				appearance: none;
			}
			&:focus, &:active{
				outline: none;
			}
		}
	}

}
@media screen and (max-width: 463px) {
	.lead-search-details {
		.field-group {
			width: 100% !important;
		}

		.actionButton {
			width: 100%;
		}
	}
}

.toggle-featured-button{
	text-align: center;
	font-size: 18px;
	cursor: pointer;
	margin-bottom: 20px;
	color: @ylopoGreen;
	&:after{
		font-family: FontAwesome;
		content: "\f061";
		margin-left: 10px;
		font-size: 18px;
		position: relative;
	}
	&.toggled{
		&:after{
			content: "";
		}
		&:before{
			font-family: FontAwesome;
			content: "\f060";
			margin-right: 10px;
			font-size: 18px;
			position: relative;
		}
	}
}
.featured-wrapper{
	width: 100%;
	overflow: hidden;
	background-color: rgb(247, 247, 249);
	margin-bottom: 15px;
	.featured-toggle{
		width: auto;
		white-space: nowrap;
		transform: translate3d(0, 0, 0);
		transition: all .5s;
		&.toggled{
			transform: translate3d(-100%, 0, 0);
		}
		> * {
			display: inline-block;
			margin-bottom: 0;
			&:first-child{
				float: left;
			}
		}
	}
}
.composite-container {
	.amenity-icon {
		height: 68px;
		margin-top: 15px;
		.displayFlex();
		.flexFlow(column, nowrap);
		.justifyContent(flex-end);
		.alignItems(center);
		.icon {
			width: 35px;
			height: 35px;
			margin-bottom: 5px;
			background-color: rgb(200,200,200);
			background-repeat: no-repeat;
			background-position: center;
			background-size: 60%;
			border-radius: 100px;
			cursor: pointer;
			@media(min-width: 768px) {
				width: 38px;
				height: 38px;

			}
			&.active {
				background-color: @ylopoGreen;
			}
		}
		.amenity-label {
			font-size: 14px;
			white-space: nowrap;
			@media(min-width: 480px){
				font-size: 15px;
			}
		}

	}
	.popular-amenities {
		.amenities-wrapper {
			.displayFlex();
			.flexFlow(row, wrap);
			padding-bottom: 23px;
			.amenity-icon {
				width: 50%;
				@media(min-width: 480px) {
					width: 33.33%;
				}
				@media(min-width: 768px) {
					width: 25%;
				}
				@media(min-width: 900px) {
					width: 24.66%;
				}
			}
		}
	}
}

