.table-challenge {
  .challenge-btn{
    font-size: 18px;
    line-height: 16px;
    color: #777;
    &:hover{
      color: #0D9FD6!important;
    }
  }
  .validation-btn{
    &:hover .fa{
      color: #0D9FD6!important;
    }
  }
  .doc-path, .file-name {
    display: inline-block;
    max-width: 90px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .file-name{
    max-width: 80px;
  }
  select.changed{
    color: $color-danger;
  }
  select{
    font-size: 13px;
    padding: 6px;
  }
  textarea{
    font-size: 13px;
    min-width: 200px;
  }
  .previous-status{
    margin-top: 5px;
    font-size: 10px;
  }
  &>tbody{
    &>tr{
      &>td{
        vertical-align: middle
      }
    }
  }
}

.validation-btn{
  border-radius: 50%;
  padding: 4px;
  line-height: 1;
  width: 28px;
  height: 28px;
}

.review_nav-tabs{
  text-align: left!important;
  &>li{
    position: relative;
    .badge {
      background-color: #D2312D;
      position: absolute;
      top: 5px;
      right: 0px;
      height: 16px;
      padding: 3px 5px 3px 5px;
      font-size: 10px;
      z-index: 1;
      right: 0;
      top: -7px;
    }
  }
}

.review_tab-content{
  padding: 0;
}

.reviewer-tab{
  .tab-content{
    border: 1px solid #ccc;
  }
  .reviewer-info{
    margin-bottom: 10px;
  }
  .tabs-vertical{
    &>ul{
      li{
        &:first-child{
          border-top: 1px solid #DDD;
        }
        &:last-child{
          border-bottom: 1px solid #DDD;
        }
      }
    }
  }
  .c100{
    display: inline-block;
    vertical-align: middle;
    float: none;
    margin-left: 10px;
    &>span{
      width: 3.4em;
      line-height: 3.4em;
      font-size: 0.3em;
    }
  }
}

@media (min-width: 996px){
  .reviewer-tab {
    .tab-content{
      width: 100%!important;
    }
  }
}

@media (max-width: 995px){
  .reviewer-tab {
    .tabs-vertical{
      display: block;
    }
    .nav-tabs{
      display: block;
      float: left;
    }
    .tab-content{
      display: block;
      
    }
  }
}

@media (max-width: 767px){
  .reviewer-tab .tabs-vertical ul li{
    border-right: 1px solid #DDD;
  }
}