.max-witdh-coordinator-comment {
    max-width: 170px;
}

.fix-1st-pading-comment-table {
	padding: 3px !important;
}
.center-padding-table-overview {
    text-align: left;
    padding-left: 105px !important;
}

.fix-center-info-toggle-button {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    background-color: #349da2;
    border: none;
    padding: 0;
    padding-top: 1.3px;
    padding-left: 0.5px;
}

/*Basic static - group/orphan review*/
.fix-arrow-collapse-stat-table .collapsed:before {
    content: "\f0d7";
}
.fix-arrow-panel-action-toggle:before {
    content: "\f0d8";
}
/* Filter tags user Assignment */
.help_guide_sub .filter-tags-userassign {
    padding-top: 10px;
    padding-left: 15px;
}
.filter-tags-userassign .filter-label-assign .filter-remove-assign {
    color: #fff;
    margin-right: 5px;
    cursor: pointer;
}
.filter-tags-userassign .filter-label-assign {
    margin-right: 5px;
    font-size: 100%;
    font-weight: 600;
    display: inline-block;
    margin-bottom: 5px;
}

/*Notification Page*/
.panel-noti > .panel-body {
    padding: 0 0 5px 0;
}

.noti-item {
    margin: 0 !important;
    padding: 8px 15px;
}

.noti-item:nth-child(even), .noti-block > .noti-list:nth-child(odd), .col-noti > .noti-list:nth-child(even) {
    background-color: #f6f6f6 ;
}

.noti-popup   .list-unstyled > li {
    padding-left: 10px;
}

.noti-popup {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}

.noti-div {
    display: flex;
    flex-direction: column;
}

.noti-block .noti-date {
    color: #747474;
    background-color: #E6E6E6;
}

/* Fix max width td table */
.max-width-th-confidentialy {
    min-width: 240px
}

.fix-z-index-info-button {
    z-index: 1050
}

.my-chart-legend-center {
    margin: 0 auto 5px;
    width: 40px;
    float: none;
}

.chart-stacked .chart-legend.serie-1 {
    right: 15px;
    top: -15px;
}