.h_header {
	background-color: #c1c1c1;
	padding-bottom: 28px;
}
.hello {
	content: none;
	text-align: center;
	overflow: hidden;
	margin-bottom: 10px;
}
.hello li {
	display: inline;
}
.hello a {
	color: #000;
	text-decoration: none;
}
.hello a:hover>span{
	color: blue;
	text-decoration: underline;
}
.header_actions {
	content: none;
	list-style: none;
}
.header_actions li {
	display: inline-block;
}
.header_actions span {
	font-size: 19px;
	color: #000;
	border: 1px solid #c1c1c1;
}
.header_actions span:hover {
	border: 1px solid #656565;
	border-radius: 2px;
}
.header_input{
	float: left;
	width: 94%;
	border-radius: 3px;
	padding-left: 5px;
}
.header_search span {
	padding: 0px 5px;
}
.header_search {
	float: right;
	border-radius: 7px;
	margin-right: 23px;
}
.pdr{
	padding-right: 0px;
}
ul.header_actions {
	padding-left: 0px;
}
header.h_header {
	border-top: 0px;
}
.help_guide_nav {
	top: auto;
	position: relative;
}
.fixed {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	z-index: 1000000;
}
.help_guide_has-arrow.has-arrow {
	margin-left: -300px;
}
.help_guide_has-arrow.has-arrow:before {
	margin-left: 280px;
}
.help_guide_has-arrow.has-arrow:after {
	margin-left: 281px;
}
.help_guide_content_left_ul {
	padding-left: 0px;
	padding-top: 0px !important;
}
.help_guide_content_left_ul li {
	display: inline-block;
	margin-left: 5px;
}
.help_guide_content_left_ul li.help_question_li {
	margin-left: 0px;
}
.help_ul {
	padding-left: 0px;
}
.help_ul li {
	display: inline-block;
}
.help_list_right {
	padding-left: 0px;
}
.help_list_right>li {
	margin-left: 5px;
	vertical-align: top;
}
.help_question_a {
	padding-left: 2px;
	padding-right: 10px;
	cursor: pointer;
	font-size: 16px;
}
.help_question_content.has-arrow {
	margin-left: -250px;
	margin-top: 4px;
}
.help_question_content.has-arrow:before {
	margin-left: 219px;
}
.help_question_content.has-arrow:after {
	margin-left: 220px;
}
.help_question_bottom.has-arrow {
	margin-left: -525px;
	margin-top: 4px;
}
.help_question_bottom.has-arrow:before {
	margin-left: 496px;
}
.help_question_bottom.has-arrow:after {
	margin-left: 497px;
}
.help_timeframe.has-arrow {
	margin-left: -21px;
	margin-top: 4px;
}
.help_box_number {
	padding: 0px 6px;
	border: 1px solid #c2c2c2;
}
.help_question_select {
	padding: 6px 0px;
}
.help_guide {
	margin-top: 30px;
}
.help_chart_list>li {
	display: inline-block;
	vertical-align: top;
}
.help_on_off {
	width: 50px;
	margin-left: 10px;
}
.on_off {
	text-align: left;
	background-color: #e5e5e5;
	margin: 5px 0px;
	padding: 0px 3px 3px 3px;
	border-radius: 10px;
	cursor: pointer;
}
.on_off>img {
	border-radius: 10px;
}
.on_off_click {
	text-align: right;
	background-color: #99cc99;
	margin: 5px 0px;
	padding: 0px 3px 3px 3px;
	border-radius: 10px;
	cursor: pointer;
}
.on_off_click>img {
	border-radius: 10px;
}
.on_off_click.on_off {
	text-align: left;
	background-color: #e5e5e5;
}
.on_off.on_off_b {
	text-align: right;
	background-color: #99cc99;
}
.on_off:hover {
	box-shadow: 0px 0px 3px blue;
}
.on_off_click:hover {
	box-shadow: 0px 0px 3px blue;
}
.help_guide_bottom {
	margin-top: 20px;
}
.help_bottom {
	padding-top: 7px;
}
.help_bottom>a.help_question_a {
	font-size: 20px;
}
.help_guide_sub {
	margin-bottom: 80px;
}




@media (max-width: 1337px) {
	.pdr {
		width: 120px;
	}
	.header_right{ 
		Width: 100%;
	}
}
@media (max-width: 1200px) {
	.header_search {
		margin-left: 5px;
		float: right;
		margin-right: 0px;
	}
	
}
@media (max-width: 1024px) {
	.help_question_bottom.has-arrow {
		margin-left: -400px; 
	}
	.help_question_bottom.has-arrow:before {
	margin-left: 371px;
	}
	.help_question_bottom.has-arrow:after {
		margin-left: 372px;
	}
}
@media (max-width: 996px) {
	.help_guide_has-arrow.has-arrow {
		margin-left: auto;
	}
	.help_question_content.has-arrow {
		margin-left: auto;
	}
	.help_timeframe.has-arrow {
		margin-left: auto; 
	}
	.help_question_bottom.has-arrow {
		margin-left: auto; 
	}
}
@media (max-width: 800px) {
	.header_input {
		width: 92%;
	}
}
@media (max-width: 770px){
	.header_search {
		margin-right: 0px;
	}
}
@media (max-width: 600px) {
	.header_input {
		width: 90%;
	}
}
@media (max-width: 500px) {
	.header_input {
		width: 88%;
	}
}
@media (max-width: 440px){
	.header_input {
		width: 87%;
	}
}
@media (max-width: 400px) {
	.header_input {
		width: 86%;
	}
}
@media (max-width: 365px) {
	.header_input {
		width: 84%;
	}
}
@media (max-width: 330px){
	.header_input {
		
	}
}
@media (min-width: 1337px){
	.header_right{
    width: 91.66666667%;
	}
}