body .btn-primary:hover {
    background-color: #71bb94;
}

.my-profile-content {
	background: #fff;
	padding-bottom: 10px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0);
	border-radius: 0px;
}
.my-profile-form-bordered .form-group {
	border-bottom: 0px;
	margin-bottom: 0px;
	padding-bottom: 0px;
}
.my-profile-form-bordered .control-label {
	font-size: 14px;
	color: #000;
	padding-top: 0px;
	padding-left: 5px;
}
.my-profile-form-bordered p {
	color: #000;
}
.my-profile-a {
	float: left;
	color: #000;
}
.my-profile-a>img {
	border-radius: 50px;
	width: 90px;
	height: 90px;
}
.my-profile-user {
	display: block;
    padding-top: 3px;
    color: #000;
    padding-left: 100px;
	padding-bottom: 20px;
}
.my-profile-user>h4 {
	margin-bottom: 0px;
}
.my-profile-user>p {
	padding-left: 4px;
}
.my-profile-bottom {
	margin-top: 15px;
}
.my-profile-bottom .btn-primary {
	background-color: #0FABE6;
}
.my-profile-bottom .btn-primary:hover {
	background-color: #0D9FD6;
}
.my-profile-content-top {
	margin-top: 10px;
	margin-bottom: 10px;
}
.my-profile-ul {
	list-style: none;
	padding-left: 0px;
	min-height: 44px;
}
.my-profile-ul>li {
	display: inline-block;
	vertical-align: top;
	padding-left: 5px;
	color: #000;
	font-size: 14px;
}
.left3>p {
	margin-bottom: 0px;
}
.left3>div.checkbox-custom {
	margin-left: 15px;
}

.left2 p.content_profile_note {
	margin-bottom: 0px;
}
.content_profile_note_ul {
	list-style: none;
	content: none;
	padding-left: 0px;
}
.content_profile_note_ul>li {
	display: inline-block;
	vertical-align: top;
	padding-right: 5px;
}
.my-profile-edit-content .tabs-vertical ul.content_profile_note_ul li:first-child {
	border-top: 0px;
}
.left2 div.checkbox-custom {
	margin-left: 15px;
}
.my-profile-edit-content .tabs-vertical ul li.left4:last-child {
	border-bottom: 0px;
}
.my-profile-left {
	padding-left: 70px;
}
.my-profile-check-none {
	display: none;
}
.my-profile-check {
	display: block;
}
.ios-switch.off .state-background {
	transition: 0.2s;
}
.switch {
	margin: 0px;
}
.my-profile-tab-content {
	margin-top: 50px;
	margin-bottom: 80px;
}
.check_off {
	display: none;
}
.my-profile-checkbox-custom input[type="checkbox"]:checked + label:after {
	position: absolute;
    display: inline-block;
    font-family: 'FontAwesome';
    content: '\F00C';
    top: 50%;
    left: 4px;
    margin-top: -5px;
    font-size: 11px;
    line-height: 1;
    width: 16px;
    height: 16px;
    color: #333;
}

/**********************	My-profile-edit	**************************/

.my-profile-edit {
	padding: 0px 30px 50px;
}
.mpe_top_h4 {
	margin-top: 5px;
	font-weight: bold;
	font-size: 16px;
    color: #349da2;
	font-family: "Open Sans", Arial, sans-serif;
}
.mpe_top>a {
	color: #0D9FD6;
	font-size: 14px;
	text-decoration: none;
}
.mpe_top>a>i {
	padding-right: 5px;
	color: #0D9FD6;
}
.mpe_top>a:hover {
	text-decoration: none;
}
.mpe-list-content {
	margin-top: 20px;
}
.mpe-list-content>li {
	width: 100%;
	border-top-right-radius: 0px;
}
.mpe-content-left {
	position: absolute;
	overflow:hidden;
	z-index: 1;
	padding-right: 27px;
}
.mpe-list-content>li.active>a {
	border-right-color: #fff;
}
.mpe-list-content>li>a {
	border-top-right-radius: 0px;
}
.mpe-list-content>li.active>a:hover {
	border-right-color: #fff;
}
.mpe-list-content>li.active>a:focus {
	border-right-color: #fff;
}
.mpe-tab-content {
	border: 2px solid #eee;
	min-height: 300px;
	
}
.mpe-tab-pane {
	padding: 5px 0px 40px 50px;
}
.my-profile-edit-content {
	margin-top: 15px;
}
.my-profile-edit-content>div.tabs-vertical .nav-tabs {
}
.mpe_input>input {
	max-width: 230px;
}
.profile-details-left {
	padding-left: 30px;
}
.profile-details-left>div {
	margin: 20px 0px 30px;
}
.profile-details-right>div {
	margin: 20px 0px 30px;
}
.profile-details-right>div.profile_details_bottom_right {
	margin-top: 40px;
	min-height: 44px;
}
.switch.switch-primary .ios-switch .on-background {
	background-color: #59D0A7;
}

/***********************	My profile photo******************************/

.my-profile-photo-a {
	margin-left: 25px;
}
.my-profile-photo-a>img {
	width: 120px;
	height: 120px;
	border-radius: 80px;
}
.my-profile-photo-a2>i {
	font-size: 22px;
	color: #000;
	margin-right: 10px;
	position: absolute;
	margin-top: -2px;
}
.my-profile-photo-a2 {
	font-size: 14px;
	color: #0D9FD6;
	text-decoration: none;
}
.my-profile-photo-a2>span {
	text-decoration: none;
	margin-left: 30px;
}
.my-profile-photo-a2:hover {
	color: #0D9FD6;
}
.my-profile-photo-a2:hover>i {
	color: #000;
}
.my-profile-photo-upload{
	margin-top: 50px;
	}
.my-profile-photo-upload>p {
	margin-top: 10px;
}
.password-note {
	background-color:#cc0000;
	color: #fff;
	padding: 5px 15px;
	font-size: 14px;
	margin-top: 5px;
	text-align: center;
	margin-bottom: 30px;
	}
.body-sign .panel-sign .my-panel-body {
	padding: 0px 0px 15px;
}
.my-from-password {
	padding: 20px 33px 0px;
}
.fileinput-button {
	position: relative;
    overflow: hidden;
    display: inline-block;
}
.fileinput-button input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    font-size: 200px !important;
    direction: ltr;
    cursor: pointer;
}
.tabs-left .mpe-tab-content {
   border: 1px solid #ccc;
   border-radius: 0 5px 5px 5px;
}
.tabs-vertical .mpe-tab-content {
	display: block;
}
.mpe-content-right {
	margin-left: 0px;
}
.change-email-address .input-group-icon {
	max-width: 350px;
}
.change-email-address {
	margin-top: 40px;
	margin-bottom: 15px;
	overflow: hidden;
}
.change-email-bottom {
	padding-left: 0px;
}
.my-team-table .progress-radial {
	float: none;
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
    border: none;
    margin-right: 0px;
    background-color: #006600;
}
.my-team-table-striped > tbody > tr:nth-of-type(odd), .even {
	background-color: #fff;
}
.bold {
	font-weight: bold;
}
.my-profile-edit-content .tabs-vertical ul li:first-child {
	border-top: 1px solid #DDD;
}
.my-profile-edit-content .tabs-vertical ul li:last-child {
    border-bottom: 1px solid #DDD;
}
.my-profile-edit-content .tabs-vertical ul li.left3 {
	border-top: 0px;
}
.my-profile-edit-content .tabs-vertical ul li.left2 {
	border-bottom: 0px;
}
.my-team-chart.p10 .bar, .my-team-chart.p10 .fill {
	border-color: #d2322d !important;
}
.my-team-chart.p100 .bar, .my-team-chart.p100 .fill {
	border-color: #006600 !important;
}
.my-team-chart.p100:hover > span {
	color: #006600;
}
.my-team-chart.p10:hover > span {
	color: #d2322d;
}
.my-team-chart {
	float: none;
	margin: -4px auto 0px;
}
.my-team-chart span {
	font-size: 0.3em;
	line-height: 3.3em;
	width: 3.4em;
}
.my-team-table-striped .even>td {
	padding: 9px 8px 4px 9px;
}
.my-team-content {
	margin-top: 40px;
	margin-bottom: 50px;
}
th:focus {
	outline: none;
}
.my-team-content .my_team.has-arrow {
	margin-top: 20px;
}
.panel-featured-primary .panel-title .my-team-note {
	color: #000;
	letter-spacing: 0px;
}
.my-team-content a.help_question_a {
	color: #D3D3D3;
	position: absolute;
	top: 0px;
}
.edit_th {
	margin-top:-17px;
}
.edit_th_right {
	margin-top: 0px;
}
.my-team-table > thead > tr > th { 
	vertical-align: top;
	padding: 8px 20px;
}
.my-team-table>thead>tr>th:last-child {
	min-width: 180px;
	vertical-align: middle;
}
.my-team-table>thead>tr>th:first-child {
	vertical-align: middle;
}
.my-team-table > thead > tr > th >p {
	margin-bottom: 0px;
}
.my-team-content .panel-title a.help_question_a {
	margin-top: -15px;
}
.my-team-content a.help_question_a {
	font-size: 13px;
}
.content_document {
	margin-top: 30px;
}
.line_document {
	background-color: #fff;
	color: #4fca9d;
	font-size: 20px;
	font-weight: bold;
}
.line_document:hover {
	color: #4fca9d;
	text-decoration: none;
}
.line_document:focus {
	color: #4fca9d;
	text-decoration: none;
}
.line_document_header>li {
	padding: 8px 2px 8px 15px;
	background-color: #fff;
	border-top: 3px solid #4fca9d;
	border-radius: 5px 5px 0px 0px;
}
.line_document_header {
	border-left: 1px solid #EEE;
	border-right: 1px solid #EEE;
	padding-left: 0px;
	list-style: none; 
	content: none;
}
.line_document>i {
	padding-left: 5px;
}
.line_document_content_header {
	list-style: none;
	content: none;
	padding-left: 0px;
}
.line_document_content_header>li {
	display: inline-block;
	vertical-align: top;
}
.line-document-menu.has-arrow {
	margin-left: 15px;
	margin-top: -7px;
}
.line-document-menu.has-arrow:before {
	margin-left: 69px;
}
.line-document-menu.has-arrow:after {
	margin-left: 70px;
}
.line_document_content_header .fa-clock-o {
	font-size: 30px;
	color: #FF0000;
}
.line_document_content_header .fa-clock-o.only {
	color: #F1AA24;
}
.line_document_content_header .fa-clock-o.challenged {
	color: #D3D3D3;
}
.document_panel-title>h2 {
	font-size: 16px;
}
.my_team.note_chart_content_review.has-arrow {
	margin-left: -662px;
}
.document_panel-title {
	padding-top: 2px;
	padding-left: 5px;
}
.document_panel-heading {
	padding: 12px 18px;
}
.document_note {
	font-size: 14px;
	padding-left: 30px;
	margin-bottom: 20px;
}
.legal_secret {
	border-bottom: 1px solid #DADADA;
	border-left: 1px solid #DADADA;
	border-right: 1px solid #DADADA;
}
.document_review_table>tbody>tr>td {
	padding: 8px;
}
.document_review_table .my_review_note {
	min-width: 114px;
}

.document_review_table .file-name.w90 {
	max-width: 90px;
}

.document_review_table td.document_2nd .doc-path {
	max-width: 100%;
	white-space: normal;
	margin-bottom: -4px;
	text-align: left;
	float: left;
}
.document_2nd .more {
	float: right;
	color: #0000FF;
	text-decoration: underline;
	font-style: italic;
}
.document_2nd .zoom-out {
	float: right;
	color: #0000FF;
	text-decoration: underline;
	font-style: italic;
}
.zoom-out {
	display: none;
}
.zoom-out.zoom-out-block {
	display: block !important;
}
.more {
	display: none;
}
.document_2nd .more-note>a {
	float: right;
	color: #0000FF;
	text-decoration: underline;
	font-style: italic;
}
.more-note {
	display: none;
}
.more1.display-none {
	display: none !important;
}
.more-click-bottom>p {
	background-color: #fff;
}
.more-click-bottom.more-click-bottom-block {
	display: block;
	margin-top: -4px;
}
.more-click-bottom.has-arrow:after {
	margin-left: 590px;
}
.more-click-bottom.has-arrow:before {
	margin-left: 590px;
}
.doc-path.height-2nd {
	height: auto !important;
}
.opacitys {
	opacity: 0.6;
}
.document_review_table .select-group select  {
	background: none;
	-webkit-appearance: menulist;
	min-width: 122px;
}
.select-group select.black {
	color: #777;
}
.select-group select.red {
	color: #d2322d;
}
.btn-file-info {
	margin-left: 5px;
}
.document_review_table > tbody > tr > td.my_file-name {
	padding: 10px 5px 10px 10px !important;
}
.more.display-block, .more-note.display-block {
	display: block;
}
.document_review_table .checkbox-custom {
	padding: 0px 5px 0px 5px;
}
.approve-button-2 {
	margin-left: 42px;
}

/*	*	*	*	*	*	*	PwC Records Retention Update Page	*	*	*	*	*	*/

.record_search {
	padding-top: 5px;
	padding-bottom: 5px;
}
.record_table > tbody > tr > td {
	border-top: 0px;
	vertical-align: middle;
	padding: 8px 16px;
}
.record_table > thead > tr > th {
	border-bottom: 0px;
	padding: 8px 16px;
}
select.record_select {
	width: 100%;
	height:auto;
	padding: 4px;
}
.record_select>option:first-child {
	display: none;
}
.record_select>option {
	padding-top: 8px;
	padding-bottom: 8px;
}
.record-align-left {
	text-align: left;
}
.record-align-left>ul {
	list-style: none;
	content: none;
	width: 100%;
	padding-left: 0px;
}
.record-align-left>ul>li {
	display: inline;
	text-align: left;
	float: left;
}
.record-align-left>ul>li:last-child {
	text-align: right;
	float: right;
}
.dataTables_wrapper table thead th.review_note.review_note_r {
	padding-right: 8px !important;
}
.document_review_table textarea {
	min-width: 170px;
}
.document_2nd {
	min-width: 150px;
}
.table-responsive {
	overflow-x: hidden;
}
.vertical-top.document_2nd.first-ch {
	min-width: 160px;
}
.document_2nd.document_2nd2 {
	width: 224px;
}
#previewModal3 .more.display-block {
	display: none;
}
#previewModal3 .my-doc-path {
	height: auto !important;
}
.fic-eidt {
	padding: 12px;
}






@media screen and (max-width: 991px) {
	.table-responsive > .document_review_table  > tbody > tr > td.ipab_document {
	white-space: normal;
	}
}


@media (max-width: 768px) {
	.table-responsive {
		overflow-x: auto;
	}
	.mpe-content-left {
	padding-right: 24px;
	}
	.mpe-content-right {
		padding-left: 0px;
	}
	.my-profile-ul>li.left2 {
		margin-left: 0px;
	}
	.my-team-content a.help_question_a {
    margin-top: 0px;
	}
	.my-team-content .my-team-table>thead>tr>th:last-child a.help_question_a {
	margin-top: 0px;
	}
	.my_team.help_question_bottom.has-arrow {
		margin-top: 16px;
	}
	.my_team.note_chart_content_review.has-arrow {
		margin-top: 16px;
	}
	.my_team.help_question_content.has-arrow {
		margin-top: 16px;
	}
	.line-document-menu.has-arrow {
		margin-left: auto;
	}
	.my_team.note_chart_content_review.has-arrow {
		margin-left: auto;
	}
}
@media (max-width: 480px) {
	.form-bordered .pro_form-group {
		border-bottom: 1px solid #c2c2c2;
	}
	.mpe-content-left {
	padding-right: 15px;
	position: relative;
	}
	.mpe-list-content>li.active>a {
	border-right-color: #eee;
	}
	.mpe-list-content>li>a {
		border-top-right-radius: 5px;
	}
	
	.profile-details-left {
		padding-left: 15px;
	}
	.profile-details-left>div {
	margin: 15px 0px 20px;
	}
	.my-profile-left {
		padding-left: 20px;
	}
	.mpe-content-right {
		margin-left: -3px;
		border-top: 1px solid #ccc;
	}
	.my-profile-edit {
		padding: 0px 10px 20px;
	}
	.tabs-vertical .nav-tabs {
		display: block;
	}
	.tabs-left .mpe-tab-content {
	margin-right: 1px;
	border-radius: 0 0px 5px 5px;
	}
	.my-profile-ul>li.left2 {
		margin-left: 10px;
	}
	.my-profile-edit-content .tabs-vertical ul li:first-child {
		border-top: 0px;
	}
	.my-profile-edit-content .tabs-vertical ul li:last-child {
		border-bottom: 0px;
	}
	.my-profile-edit-content .tabs-vertical ul li a {
		border-top:3px solid #DDD;
		border-left: 0px;
		border-radius: 5px 5px 0px 0px;
		border-right: 0px;
	}.my-profile-edit-content .tabs-vertical ul li a.edit {
		border-top: 0px;
	}
	.my-profile-edit-content .tabs-left .nav-tabs > li:first-child a {
		border-radius: 5px 5px 0px 0px;
	}
	.my-profile-edit-content .tabs-left .nav-tabs > li:last-child a {
		border-radius: 5px 5px 0px 0px;
	}
	.my-profile-edit-content .tabs-vertical ul li.active a {
		border-left: 0px;
		border-top: 3px solid #4fca9d;
	}
	.my-profile-edit-content .tabs-vertical ul li.active a:focus {
		border-left: 0px;
		border-top: 3px solid #4fca9d;
	}
	.mpe-tab-pane {
		padding: 5px 0px 10px 0px;
	}
	.document_note {
		padding-left: 15px;
	}
}
@media (max-width: 400px) {
	.my-profile-ul>li.left2 {
		margin-left: 0px;
	}
}
@media (max-width: 375px) {
	.my-profile-edit {
		padding: 0px 15px 0px;
	}
}
@media (max-width: 320px) {
	.my-profile-photo-a>img {
		width: 100px;
		height: 100px;
	}
	.my-profile-photo-a {
		margin-left: 0px;
	}
	.my-profile-edit {
		padding: 0px 10px 15px;
	}
	.my-profile-ul>li.left3 {
		margin-left: 0px;
	}
}

@media (min-width: 768px){
	.my-profile-form-bordered .control-label {
		text-align: left;
	}	
	.my_header-edit5 .navbar-collapse .navbar-nav {
		float: left;
	}
	.my_header-edit5 .navbar-collapse .navbar-nav > li {
		float: left;
	}
}

