#err{
	color:#B94A48;
	text-align: center;
}
.err{
  color:#B94A48;
}
.has-error{
  border-color: #B94A48;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
.has-error:focus {
  border-color: #ccc;
    
}
#submitForm .error {
  color:#B94A48;
  border-color: #B94A48;
}
#submitForm .error:focus {
  border-color: #ccc;
}
#messageUnAgree{
	color:#B94A48;
}
.loading-dot {
    display: inline-block;
    font-size: 1.6em;
    font-weight: 600;
    opacity: 0.7;
    font-style: italic;
     margin-top: 15px;
}
.my_header .navbar-default.nav-custom .navbar-nav > li > a.active {
    color: #34495e;
    text-decoration: underline;
}
.my_header .navbar-default.nav-custom .navbar-nav > li .dropdown-menu li a.active{
    background-color: #349da2;
}
.widget-panel .widget-summary:not(.in-progress) .loading-dot {
    
    display: block;
}
.widget-panel .widget-chart:not(.in-progress) .loading-dot {
    
    display: block;
}

.dropdown-menu.dd-md.custom-dd{
    width: 565px;
}

.dropdown-menu.dd-md.custom-dd .filter-list{
  text-align: left;
}

.user-selection-titles {
    font-size: 1.6rem;
    font-weight: 500;
}
.table-my-actions .doc-path-2 {
    display: inline-block;
    max-width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.widget-panel .widget-chart .chart-disabled-overlay {
    width: 100%;
    height: 95%;
    top: 4%;
    left: 0;
    z-index: 9;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
}
.toggle-button {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    background-color: #349da2;
    border: none;
    padding: 0;
    padding-top: 1px;
    padding-left: 0.5px;
}
.help_guide_sub .filter-tags-userassign {
    padding-top: 10px;
    padding-left: 15px;
}
.filter-tags-userassign .filter-label-assign .filter-remove-assign {
    color: #fff;
    margin-right: 5px;
    cursor: pointer;
}
.filter-tags-userassign .filter-label-assign {
    margin-right: 5px;
    font-size: 100%;
    font-weight: 600;
    display: inline-block;
    margin-bottom: 5px;
}
#userReviewChart {
    height: auto;
    margin-top: 12px;
}
.center-padding {
    text-align: left;
    padding-left: 95px !important;
   
}
.table-my-actions > tbody > tr > td {
    vertical-align: middle;
    position: relative;
    /* padding: 10px !important; */
}
.vertical-top.document_2nd.first-ch {
    /* min-width: 160px; */
    max-width: 150px;
}
